body {
        background: #ccc;
      }

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
        background: #fff;
        max-width: 400px;
        margin: 15px auto;
        padding: 32px 24px;
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
      }

      .container .input-group {
        margin-bottom: 18px;
      }

.container.wide {
  background: #fff;
  max-width: 1250px;
  margin: 32px auto;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.container.wide table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  color: #000000;
}

.input-group input {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.input-group .error {
  color: red;
}

.btn {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.btn.primary {
  background-color: #65a30d;
  border-color: #65a30d;
  color: white;
}

.btn.outline {
  background-color: white;
  border: 1px solid #65a30d;
  color: #65a30d;
  margin-bottom: 12px;
  margin-top: 12px;
}


.btn.table {
  display: inline-block;
  padding: 6px 12px;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #65a30d;
  cursor: pointer;
  margin: 2px;
  width: auto;
}

.btn.table:hover {
  background-color: #f0f9ff;
  border-color: #65a30d;
}
